.SearchBox{
    position: relative;
    width: 300px;
    display: flex;
}
.SearchBox input{
    height: 40px;
   width: 100%;
    border-radius: 15px;
    padding-left: 10px;
    font-size: 16px;
    outline: none;
}


.container-icon{
    position: absolute;
    right: 10px;
    top:5px;
    border-radius: 50%;
    background-color: blueviolet;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    
}

.boder_input{
    border-color: brown;
}
.active{
    
    display: none;
}